# Groupby Operations and Multi-level Index

In [1]:
import numpy as np
import pandas as pd

## Data

In [2]:
df=pd.read_csv('mpg.csv')

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## groupby() method

In [4]:
df.groupby('cylinders')

In [5]:
df.groupby('cylinders').mean()

,mpg,displacement,weight,acceleration,model_year,origin
cylinders,,,,,,
3,20.550000,72.500000,2398.500000,13.250000,75.500000,3.000000
4,29.286765,109.796569,2308.127451,16.601471,77.073529,1.985294
5,27.366667,145.000000,3103.333333,18.633333,79.000000,2.000000
6,19.985714,218.142857,3198.226190,16.263095,75.928571,1.190476
8,14.963107,345.009709,4114.718447,12.955340,73.902913,1.000000

In [6]:
df.groupby('cylinders').mean().index

Int64Index([3, 4, 5, 6, 8], dtype='int64', name='cylinders')

In [7]:
df.groupby('cylinders').mean().columns

Index(['mpg', 'displacement', 'weight', 'acceleration', 'model_year',
       'origin'],
      dtype='object')

In [8]:
df.groupby('cylinders').mean()['displacement']

cylinders
3     72.500000
4    109.796569
5    145.000000
6    218.142857
8    345.009709
Name: displacement, dtype: float64

In [10]:
df.groupby('cylinders').mean().describe()

,mpg,displacement,weight,acceleration,model_year,origin
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,22.430450,178.089827,3024.581084,15.540648,76.281003,1.835154
std,5.844855,107.673824,729.732372,2.405352,1.898060,0.793674
min,14.963107,72.500000,2308.127451,12.955340,73.902913,1.000000
25%,19.985714,109.796569,2398.500000,13.250000,75.500000,1.190476
50%,20.550000,145.000000,3103.333333,16.263095,75.928571,1.985294
75%,27.366667,218.142857,3198.226190,16.601471,77.073529,2.000000
max,29.286765,345.009709,4114.718447,18.633333,79.000000,3.000000

In [11]:
df.groupby('cylinders').describe()

             mpg                                                        \
           count       mean       std   min    25%    50%    75%   max
cylinders
3            4.0  20.550000  2.564501  18.0  18.75  20.25  22.05  23.7
4          204.0  29.286765  5.710156  18.0  25.00  28.25  33.00  46.6
5            3.0  27.366667  8.228204  20.3  22.85  25.40  30.90  36.4
6           84.0  19.985714  3.807322  15.0  18.00  19.00  21.00  38.0
8          103.0  14.963107  2.836284   9.0  13.00  14.00  16.00  26.6

          displacement              ... model_year       origin            \
                 count        mean  ...        75%   max  count      mean
cylinders                           ...
3                  4.0   72.500000  ...      77.75  80.0    4.0  3.000000
4                204.0  109.796569  ...      80.00  82.0  204.0  1.985294
5                  3.0  145.000000  ...      79.50  80.0    3.0  2.000000
6                 84.0  218.142857  ...      78.00  82.0   84.0  1.190476
8                103.0  345.009709  ...      76.00  81.0  103.0  1.000000


                std  min  25%  50%  75%  max
cylinders
3          0.000000  3.0  3.0  3.0  3.0  3.0
4          0.833285  1.0  1.0  2.0  3.0  3.0
5          0.000000  2.0  2.0  2.0  2.0  2.0
6          0.548298  1.0  1.0  1.0  1.0  3.0
8          0.000000  1.0  1.0  1.0  1.0  1.0

[5 rows x 48 columns]

In [12]:
df.groupby('cylinders').describe().transpose()

cylinders                     3            4            5            6  \
mpg          count     4.000000   204.000000     3.000000    84.000000
             mean     20.550000    29.286765    27.366667    19.985714
             std       2.564501     5.710156     8.228204     3.807322
             min      18.000000    18.000000    20.300000    15.000000
             25%      18.750000    25.000000    22.850000    18.000000
             50%      20.250000    28.250000    25.400000    19.000000
             75%      22.050000    33.000000    30.900000    21.000000
             max      23.700000    46.600000    36.400000    38.000000
displacement count     4.000000   204.000000     3.000000    84.000000
             mean     72.500000   109.796569   145.000000   218.142857
             std       5.000000    21.512147    33.286634    32.293512
             min      70.000000    68.000000   121.000000   145.000000
             25%      70.000000    91.000000   126.000000   199.750000
             50%      70.000000   105.000000   131.000000   228.000000
             75%      72.500000   121.250000   157.000000   250.000000
             max      80.000000   156.000000   183.000000   262.000000
weight       count     4.000000   204.000000     3.000000    84.000000
             mean   2398.500000  2308.127451  3103.333333  3198.226190
             std     247.566153   347.093936   374.343870   332.297419
             min    2124.000000  1613.000000  2830.000000  2472.000000
             25%    2278.500000  2045.750000  2890.000000  2941.250000
             50%    2375.000000  2232.000000  2950.000000  3201.500000
             75%    2495.000000  2566.750000  3240.000000  3430.500000
             max    2720.000000  3270.000000  3530.000000  3907.000000
acceleration count     4.000000   204.000000     3.000000    84.000000
             mean     13.250000    16.601471    18.633333    16.263095
             std       0.500000     2.382210     2.369247     2.021140
             min      12.500000    11.600000    15.900000    11.300000
             25%      13.250000    14.800000    17.900000    15.075000
             50%      13.500000    16.200000    19.900000    16.100000
             75%      13.500000    18.000000    20.000000    17.600000
             max      13.500000    24.800000    20.100000    21.000000
model_year   count     4.000000   204.000000     3.000000    84.000000
             mean     75.500000    77.073529    79.000000    75.928571
             std       3.696846     3.753420     1.000000     3.251638
             min      72.000000    70.000000    78.000000    70.000000
             25%      72.750000    74.000000    78.500000    74.000000
             50%      75.000000    78.000000    79.000000    76.000000
             75%      77.750000    80.000000    79.500000    78.000000
             max      80.000000    82.000000    80.000000    82.000000
origin       count     4.000000   204.000000     3.000000    84.000000
             mean      3.000000     1.985294     2.000000     1.190476
             std       0.000000     0.833285     0.000000     0.548298
             min       3.000000     1.000000     2.000000     1.000000
             25%       3.000000     1.000000     2.000000     1.000000
             50%       3.000000     2.000000     2.000000     1.000000
             75%       3.000000     3.000000     2.000000     1.000000
             max       3.000000     3.000000     2.000000     3.000000

cylinders                     8
mpg          count   103.000000
             mean     14.963107
             std       2.836284
             min       9.000000
             25%      13.000000
             50%      14.000000
             75%      16.000000
             max      26.600000
displacement count   103.000000
             mean    345.009709
             std      46.776376
             min     260.000000
             25%     305.000000
             50%     350.000000
             75%     360.000000
             max     455.000000
weight       count   103.000000
             mean   4114.718447
             std     448.833159
             min    3086.000000
             25%    3799.000000
             50%    4140.000000
             75%    4403.500000
             max    5140.000000
acceleration count   103.000000
             mean     12.955340
             std       2.224759
             min       8.000000
             25%      11.500000
             50%      13.000000
             75%      14.000000
             max      22.200000
model_year   count   103.000000
             mean     73.902913
             std       3.021214
             min      70.000000
             25%      72.000000
             50%      73.000000
             75%      76.000000
             max      81.000000
origin       count   103.000000
             mean      1.000000
             std       0.000000
             min       1.000000
             25%       1.000000
             50%       1.000000
             75%       1.000000
             max       1.000000

## Groupby Multiple Columns

In [13]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [14]:
df.groupby(['cylinders','model_year']).mean()

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571
5         78          20.300000    131.000000  2830.000000     15.900000
          79          25.400000    183.000000  3530.000000     20.100000
          80          36.400000    121.000000  2950.000000     19.900000
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286
5         78          2.000000
          79          2.000000
          80          2.000000
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

In [15]:
df.groupby(['cylinders','model_year']).mean().index

MultiIndex([(3, 72),
            (3, 73),
            (3, 77),
            (3, 80),
            (4, 70),
            (4, 71),
            (4, 72),
            (4, 73),
            (4, 74),
            (4, 75),
            (4, 76),
            (4, 77),
            (4, 78),
            (4, 79),
            (4, 80),
            (4, 81),
            (4, 82),
            (5, 78),
            (5, 79),
            (5, 80),
            (6, 70),
            (6, 71),
            (6, 73),
            (6, 74),
            (6, 75),
            (6, 76),
            (6, 77),
            (6, 78),
            (6, 79),
            (6, 80),
            (6, 81),
            (6, 82),
            (8, 70),
            (8, 71),
            (8, 72),
            (8, 73),
            (8, 74),
            (8, 75),
            (8, 76),
            (8, 77),
            (8, 78),
            (8, 79),
            (8, 81)],
           names=['cylinders', 'model_year'])

# MultiIndex
## The MultiIndex Object

In [16]:
df.groupby(['cylinders','model_year']).mean().index.levels

FrozenList([[3, 4, 5, 6, 8], [70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82]])

In [23]:
df.groupby(['cylinders','model_year']).mean().index.names

FrozenList(['cylinders', 'model_year'])

# Indexing with the Hierarchial Index

In [24]:
df.groupby(['cylinders','model_year']).mean().head()

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000          70.0  2330.000000          13.5
          73          18.000000          70.0  2124.000000          13.5
          77          21.500000          80.0  2720.000000          13.5
          80          23.700000          70.0  2420.000000          12.5
4         70          25.285714         107.0  2292.571429          16.0

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714

## Grab Based on Outside Index

In [28]:
df.groupby(['cylinders','model_year']).mean().loc[8]

                  mpg  displacement       weight  acceleration  origin
model_year
70          14.111111    367.555556  3940.055556     11.194444     1.0
71          13.428571    371.714286  4537.714286     12.214286     1.0
72          13.615385    344.846154  4228.384615     13.000000     1.0
73          13.200000    365.250000  4279.050000     12.250000     1.0
74          14.200000    315.200000  4438.400000     14.700000     1.0
75          15.666667    330.500000  4108.833333     13.166667     1.0
76          14.666667    324.000000  4064.666667     13.222222     1.0
77          16.000000    335.750000  4177.500000     13.662500     1.0
78          19.050000    300.833333  3563.333333     13.266667     1.0
79          18.630000    321.400000  3862.900000     15.400000     1.0
81          26.600000    350.000000  3725.000000     19.000000     1.0

In [36]:
df.groupby(['cylinders','model_year']).mean().loc[[6,8]]

                            mpg  displacement       weight  acceleration  \
cylinders model_year
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

In [37]:
df.groupby(['cylinders','model_year']).mean().loc[(8,78)]

mpg               19.050000
displacement     300.833333
weight          3563.333333
acceleration      13.266667
origin             1.000000
Name: (8, 78), dtype: float64

# Grab Based on Cross-section with .xs()

In [17]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [20]:
df=df.groupby(['cylinders','model_year']).mean()

In [21]:
df

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571
5         78          20.300000    131.000000  2830.000000     15.900000
          79          25.400000    183.000000  3530.000000     20.100000
          80          36.400000    121.000000  2950.000000     19.900000
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286
5         78          2.000000
          79          2.000000
          80          2.000000
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

In [22]:
df.groupby(['cylinders','model_year']).mean().loc[8]

                  mpg  displacement       weight  acceleration  origin
model_year
70          14.111111    367.555556  3940.055556     11.194444     1.0
71          13.428571    371.714286  4537.714286     12.214286     1.0
72          13.615385    344.846154  4228.384615     13.000000     1.0
73          13.200000    365.250000  4279.050000     12.250000     1.0
74          14.200000    315.200000  4438.400000     14.700000     1.0
75          15.666667    330.500000  4108.833333     13.166667     1.0
76          14.666667    324.000000  4064.666667     13.222222     1.0
77          16.000000    335.750000  4177.500000     13.662500     1.0
78          19.050000    300.833333  3563.333333     13.266667     1.0
79          18.630000    321.400000  3862.900000     15.400000     1.0
81          26.600000    350.000000  3725.000000     19.000000     1.0

In [27]:
df.xs(key=8,axis=0,level='cylinders')

                  mpg  displacement       weight  acceleration  origin
model_year
70          14.111111    367.555556  3940.055556     11.194444     1.0
71          13.428571    371.714286  4537.714286     12.214286     1.0
72          13.615385    344.846154  4228.384615     13.000000     1.0
73          13.200000    365.250000  4279.050000     12.250000     1.0
74          14.200000    315.200000  4438.400000     14.700000     1.0
75          15.666667    330.500000  4108.833333     13.166667     1.0
76          14.666667    324.000000  4064.666667     13.222222     1.0
77          16.000000    335.750000  4177.500000     13.662500     1.0
78          19.050000    300.833333  3563.333333     13.266667     1.0
79          18.630000    321.400000  3862.900000     15.400000     1.0
81          26.600000    350.000000  3725.000000     19.000000     1.0

In [28]:
df[df['model_year'].isin([70,72,74,76,78,80])].groupby(['cylinders','model_year']).mean()

KeyError: 'model_year'

In [29]:
df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

KeyError: 'cylinders'

In [42]:
df

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571
5         78          20.300000    131.000000  2830.000000     15.900000
          79          25.400000    183.000000  3530.000000     20.100000
          80          36.400000    121.000000  2950.000000     19.900000
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286
5         78          2.000000
          79          2.000000
          80          2.000000
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

## Swap levels

In [36]:
df=df.swaplevel()

In [37]:
df

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571
5         78          20.300000    131.000000  2830.000000     15.900000
          79          25.400000    183.000000  3530.000000     20.100000
          80          36.400000    121.000000  2950.000000     19.900000
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286
5         78          2.000000
          79          2.000000
          80          2.000000
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

In [38]:
df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

KeyError: 'cylinders'

In [43]:
df

                            mpg  displacement       weight  acceleration  \
cylinders model_year
3         72          19.000000     70.000000  2330.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          77          21.500000     80.000000  2720.000000     13.500000
          80          23.700000     70.000000  2420.000000     12.500000
4         70          25.285714    107.000000  2292.571429     16.000000
          71          27.461538    101.846154  2056.384615     16.961538
          72          23.428571    111.535714  2382.642857     17.214286
          73          22.727273    109.272727  2338.090909     17.136364
          74          27.800000     96.533333  2151.466667     16.400000
          75          25.250000    114.833333  2489.250000     15.833333
          76          26.766667    106.333333  2306.600000     16.866667
          77          29.107143    106.500000  2205.071429     16.064286
          78          29.576471    112.117647  2296.764706     16.282353
          79          31.525000    113.583333  2357.583333     15.991667
          80          34.612000    111.000000  2360.080000     17.144000
          81          32.814286    108.857143  2275.476190     16.466667
          82          32.071429    118.571429  2402.321429     16.703571
5         78          20.300000    131.000000  2830.000000     15.900000
          79          25.400000    183.000000  3530.000000     20.100000
          80          36.400000    121.000000  2950.000000     19.900000
6         70          20.500000    199.000000  2710.500000     15.500000
          71          18.000000    243.375000  3171.875000     14.750000
          73          19.000000    212.250000  2917.125000     15.687500
          74          17.857143    230.428571  3320.000000     16.857143
          75          17.583333    233.750000  3398.333333     17.708333
          76          20.000000    221.400000  3349.600000     17.000000
          77          19.500000    220.400000  3383.000000     16.900000
          78          19.066667    213.250000  3314.166667     16.391667
          79          22.950000    205.666667  3025.833333     15.433333
          80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
          82          28.333333    225.000000  2931.666667     16.033333
8         70          14.111111    367.555556  3940.055556     11.194444
          71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
          73          13.200000    365.250000  4279.050000     12.250000
          74          14.200000    315.200000  4438.400000     14.700000
          75          15.666667    330.500000  4108.833333     13.166667
          76          14.666667    324.000000  4064.666667     13.222222
          77          16.000000    335.750000  4177.500000     13.662500
          78          19.050000    300.833333  3563.333333     13.266667
          79          18.630000    321.400000  3862.900000     15.400000
          81          26.600000    350.000000  3725.000000     19.000000

                        origin
cylinders model_year
3         72          3.000000
          73          3.000000
          77          3.000000
          80          3.000000
4         70          2.285714
          71          1.923077
          72          1.928571
          73          2.000000
          74          2.200000
          75          2.166667
          76          1.866667
          77          1.857143
          78          2.117647
          79          1.583333
          80          2.200000
          81          2.095238
          82          1.714286
5         78          2.000000
          79          2.000000
          80          2.000000
6         70          1.000000
          71          1.000000
          73          1.250000
          74          1.000000
          75          1.000000
          76          1.300000
          77          1.400000
          78          1.166667
          79          1.000000
          80          2.000000
          81          1.714286
          82          1.000000
8         70          1.000000
          71          1.000000
          72          1.000000
          73          1.000000
          74          1.000000
          75          1.000000
          76          1.000000
          77          1.000000
          78          1.000000
          79          1.000000
          81          1.000000

## Sorting MultiIndex

In [40]:
df.sort_index(level='cylinders',ascending=False)

                            mpg  displacement       weight  acceleration  \
cylinders model_year
8         81          26.600000    350.000000  3725.000000     19.000000
          79          18.630000    321.400000  3862.900000     15.400000
          78          19.050000    300.833333  3563.333333     13.266667
          77          16.000000    335.750000  4177.500000     13.662500
          76          14.666667    324.000000  4064.666667     13.222222
          75          15.666667    330.500000  4108.833333     13.166667
          74          14.200000    315.200000  4438.400000     14.700000
          73          13.200000    365.250000  4279.050000     12.250000
          72          13.615385    344.846154  4228.384615     13.000000
          71          13.428571    371.714286  4537.714286     12.214286
          70          14.111111    367.555556  3940.055556     11.194444
6         82          28.333333    225.000000  2931.666667     16.033333
          81          23.428571    184.000000  3093.571429     15.442857
          80          25.900000    196.500000  3145.500000     15.050000
          79          22.950000    205.666667  3025.833333     15.433333
          78          19.066667    213.250000  3314.166667     16.391667
          77          19.500000    220.400000  3383.000000     16.900000
          76          20.000000    221.400000  3349.600000     17.000000
          75          17.583333    233.750000  3398.333333     17.708333
          74          17.857143    230.428571  3320.000000     16.857143
          73          19.000000    212.250000  2917.125000     15.687500
          71          18.000000    243.375000  3171.875000     14.750000
          70          20.500000    199.000000  2710.500000     15.500000
5         80          36.400000    121.000000  2950.000000     19.900000
          79          25.400000    183.000000  3530.000000     20.100000
          78          20.300000    131.000000  2830.000000     15.900000
4         82          32.071429    118.571429  2402.321429     16.703571
          81          32.814286    108.857143  2275.476190     16.466667
          80          34.612000    111.000000  2360.080000     17.144000
          79          31.525000    113.583333  2357.583333     15.991667
          78          29.576471    112.117647  2296.764706     16.282353
          77          29.107143    106.500000  2205.071429     16.064286
          76          26.766667    106.333333  2306.600000     16.866667
          75          25.250000    114.833333  2489.250000     15.833333
          74          27.800000     96.533333  2151.466667     16.400000
          73          22.727273    109.272727  2338.090909     17.136364
          72          23.428571    111.535714  2382.642857     17.214286
          71          27.461538    101.846154  2056.384615     16.961538
          70          25.285714    107.000000  2292.571429     16.000000
3         80          23.700000     70.000000  2420.000000     12.500000
          77          21.500000     80.000000  2720.000000     13.500000
          73          18.000000     70.000000  2124.000000     13.500000
          72          19.000000     70.000000  2330.000000     13.500000

                        origin
cylinders model_year
8         81          1.000000
          79          1.000000
          78          1.000000
          77          1.000000
          76          1.000000
          75          1.000000
          74          1.000000
          73          1.000000
          72          1.000000
          71          1.000000
          70          1.000000
6         82          1.000000
          81          1.714286
          80          2.000000
          79          1.000000
          78          1.166667
          77          1.400000
          76          1.300000
          75          1.000000
          74          1.000000
          73          1.250000
          71          1.000000
          70          1.000000
5         80          2.000000
          79          2.000000
          78          2.000000
4         82          1.714286
          81          2.095238
          80          2.200000
          79          1.583333
          78          2.117647
          77          1.857143
          76          1.866667
          75          2.166667
          74          2.200000
          73          2.000000
          72          1.928571
          71          1.923077
          70          2.285714
3         80          3.000000
          77          3.000000
          73          3.000000
          72          3.000000

In [41]:
df.sort_index(level='model_year',ascending=True)

,,mpg,displacement,weight,acceleration,origin
cylinders,model_year,,,,,
4,70,25.285714,107.000000,2292.571429,16.000000,2.285714
6,70,20.500000,199.000000,2710.500000,15.500000,1.000000
8,70,14.111111,367.555556,3940.055556,11.194444,1.000000
4,71,27.461538,101.846154,2056.384615,16.961538,1.923077
6,71,18.000000,243.375000,3171.875000,14.750000,1.000000
8,71,13.428571,371.714286,4537.714286,12.214286,1.000000
3,72,19.000000,70.000000,2330.000000,13.500000,3.000000
4,72,23.428571,111.535714,2382.642857,17.214286,1.928571
8,72,13.615385,344.846154,4228.384615,13.000000,1.000000
3,73,18.000000,70.000000,2124.000000,13.500000,3.000000
4,73,22.727273,109.272727,2338.090909,17.136364,2.000000
6,73,19.000000,212.250000,2917.125000,15.687500,1.250000
8,73,13.200000,365.250000,4279.050000,12.250000,1.000000
4,74,27.800000,96.533333,2151.466667,16.400000,2.200000
6,74,17.857143,230.428571,3320.000000,16.857143,1.000000
8,74,14.200000,315.200000,4438.400000,14.700000,1.000000
4,75,25.250000,114.833333,2489.250000,15.833333,2.166667
6,75,17.583333,233.750000,3398.333333,17.708333,1.000000
8,75,15.666667,330.500000,4108.833333,13.166667,1.000000
4,76,26.766667,106.333333,2306.600000,16.866667,1.866667
6,76,20.000000,221.400000,3349.600000,17.000000,1.300000
8,76,14.666667,324.000000,4064.666667,13.222222,1.000000
3,77,21.500000,80.000000,2720.000000,13.500000,3.000000
4,77,29.107143,106.500000,2205.071429,16.064286,1.857143
6,77,19.500000,220.400000,3383.000000,16.900000,1.400000
8,77,16.000000,335.750000,4177.500000,13.662500,1.000000
4,78,29.576471,112.117647,2296.764706,16.282353,2.117647
5,78,20.300000,131.000000,2830.000000,15.900000,2.000000
6,78,19.066667,213.250000,3314.166667,16.391667,1.166667
8,78,19.050000,300.833333,3563.333333,13.266667,1.000000
4,79,31.525000,113.583333,2357.583333,15.991667,1.583333
5,79,25.400000,183.000000,3530.000000,20.100000,2.000000
6,79,22.950000,205.666667,3025.833333,15.433333,1.000000
8,79,18.630000,321.400000,3862.900000,15.400000,1.000000
3,80,23.700000,70.000000,2420.000000,12.500000,3.000000
4,80,34.612000,111.000000,2360.080000,17.144000,2.200000
5,80,36.400000,121.000000,2950.000000,19.900000,2.000000
6,80,25.900000,196.500000,3145.500000,15.050000,2.000000
4,81,32.814286,108.857143,2275.476190,16.466667,2.095238
6,81,23.428571,184.000000,3093.571429,15.442857,1.714286
8,81,26.600000,350.000000,3725.000000,19.000000,1.000000
4,82,32.071429,118.571429,2402.321429,16.703571,1.714286
6,82,28.333333,225.000000,2931.666667,16.033333,1.000000

# Advanced: agg() method

In [44]:
df=pd.read_csv('mpg.csv')

In [45]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [46]:
df.agg(['max','mean'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
max,46.600000,8.000000,455.000000,?,5140.000000,24.80000,82.00000,3.000000,vw rabbit custom
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.56809,76.01005,1.572864,NaN

### Specify aggregate methods per column

In [47]:
df.agg({'mpg':['std','mean'],'displacement':['min','max','mean']})

            mpg  displacement
std    7.815984           NaN
mean  23.514573    193.425879
min         NaN     68.000000
max         NaN    455.000000

In [48]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [49]:
df.groupby('cylinders').agg({'mpg':['std','mean'],'displacement':['min','max','mean']})

                mpg            displacement
                std       mean          min    max        mean
cylinders
3          2.564501  20.550000         70.0   80.0   72.500000
4          5.710156  29.286765         68.0  156.0  109.796569
5          8.228204  27.366667        121.0  183.0  145.000000
6          3.807322  19.985714        145.0  262.0  218.142857
8          2.836284  14.963107        260.0  455.0  345.009709